<div id="wrapper">
  <app-side-navigation *ngIf="router.url!='/login'"></app-side-navigation>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

      <app-header *ngIf="router.url!='/login'"></app-header>

      <router-outlet></router-outlet>

    </div>
    <footer class="sticky-footer bg-white" *ngIf="router.url!='/login'">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2019</span>
        </div>
      </div>
    </footer>
  </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>